* {
    padding: 0;
    margin: 0;
    font-family: 'XingKaiMaoBiShuFa';
}

:root {
    --main-wind: #359697;
    --main-rock: #debd6c;
}

/* 全局过渡效果 */
.v-enter-active,
.v-leave-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

@font-face {
    font-family: 'XingKaiMaoBiShuFa';
    src: url('./resources/SanJiXingKaiJianTi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}